<configuration>
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg %X{name}%n
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="io.helidon.webserver.http1" level="WARN"/>
    <logger name="io.helidon.service" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="javax.management.remote.rmi" level="WARN"/>
</configuration>